@import "tailwindcss";

@theme {
  /* Primary Colours */
  --color-background-primary: #f8f9fa;

  /* Button System */
  --color-button-background: #ffffff;
  --color-button-background-hover: #f1f3f4;
  --color-button-border: #dadce0;
  --color-button-border-hover: #bdc1c6;
  --color-button-text: #3c4043;
  --color-button-text-hover: #202124;
}
